language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly
  - nightly
matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
    - php: hhvm-nightly
    - php: nightly

before_script:
  - composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev
  - php tests/webapp/install.php
  - php -S localhost:9000 tests/webapp/index.php &
  - sleep 1  # give server some time to start
  - php vendor/bin/codecept build

script:
  - phpunit
  - php vendor/bin/codecept run acceptance

after_failure:
  - cat app/storage/logs/laravel.log
  - cat tests/codecept/_output/*
